#weathercon{
    margin-top: 40px;
}
.try{
background-color: white;
}
body{
    background-color: lightblue;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

.box1{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.box2{
    padding-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.box3{
    padding-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.box4{
    padding-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}
.btn2{
margin-top: 10px;
}