#weathercon{
    margin-top: 40px;
}
.try{
background-color: white;
}
body{
    background-image: url(https://d2uqfpnktc64mn.cloudfront.net/uploads/competition/image/000/000/151/default_Beautiful-Weather2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: lightslategray; */
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 150px;
    }

/* .box1{
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.box2{
    padding-top: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
} */
.box3{
    background-color: lightgray;
    margin-top: 20px;
    border-radius:15px 15px 0px 0px ;
    /* border-left: 2px solid black;
    border-right: 2px solid black; */
}
.box4{
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 40px;
    border-radius:0px 0px 15px 15px ;
    /* border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black; */
}
.btn2{
margin-top: 10px;
}

button{
margin-left: 4px;
margin-right: 4px;
}

#container1{
border-radius: 15px;
background-color: coral;
padding-bottom: 20px;
opacity:80% ;
}

#dayonecont{
border-radius: 15px;
background-color:lightseagreen;
margin-top: 10px;
padding-bottom: 20px;

}